.timeline-container {
    margin-top: 16px;
    padding-top: 8px;
}
.event-content-container {
    margin-top: 16px;
}
.event-content-card {
    width: 100%;
}
.time, .error-log {
    color: #aaa;
    font-size: smaller;
}
.error-log {
    font-family: Consolas, monospace;
}
.time-diff {
    text-decoration: underline;
}
.success {
    color: #52c41a;
}
.info {
    color: #1890ff;
}
.error {
    color: #ff4d4f;
}
